{
    "swagger": "2.0",
    "info": {
        "title": "Api for SecondScreen App.",
        "version": "1.0.0"
    },
    "host": "api.secondscreentv.us",
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/contact/skip": {
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "skip Sync Contact",
                "operationId": "skipSyncContact",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Login via email",
                "operationId": "login",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "User email",
                        "required": true,
                        "type": "string",
                        "default": "email@example.com"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string",
                        "default": "123456"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Device ID",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/user/registerProfile": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Register an account",
                "operationId": "registerProfile",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "User Name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "full_name",
                        "in": "formData",
                        "description": "Full Name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "User email",
                        "required": true,
                        "type": "string",
                        "default": "email@example.com"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string",
                        "default": "123456"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Device ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "Facebook access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "google_id",
                        "in": "formData",
                        "description": "Google ID",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get user profile",
                "operationId": "profile",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        },
        "/user/forgotPassword": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "forgotPassword",
                "operationId": "forgotPassword",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "User email",
                        "required": true,
                        "type": "string",
                        "default": "email@example.com"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/user/subscription": {
            "post": {
                "tags": [
                    "Subscription"
                ],
                "summary": "Create a subscription",
                "operationId": "subscription",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "stripe_token",
                        "in": "formData",
                        "description": "Stripe Token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "accessToken": {
            "type": "apiKey",
            "name": "Authorization-Data",
            "in": "header"
        }
    },
    "tags": [
        {
            "name": "Authorization",
            "description": "Authorization for the app"
        }
    ]
}