    <body style="background: #c7ae6e" style="width:600px;height:500px;">
        <div class="grnlt-table-wrap" >
            <div class="grnlt-align-wrap">
                <div class="login" style="max-width: 500px;margin: 20px auto;text-align: center;color: #fff;padding: 80px 0;">
                    <div class="logo text-center">
                        <img src="{{var base_url}}/favicon.ico" width="120" alt="logo name">
                    </div>
                    <div class="reset-title text-center" style="font-size: 25px;margin: 30px 0;text-transform: uppercase;letter-spacing: 1.6px;font-weight: 600;line-height: 48px;font-size: 24px;">
                        reset password
                    </div>
                    <div class="text-guide text-center" style="font-size: 14px;margin-bottom: 35px;letter-spacing: 0.93px;">
                        Click the link below to reset your password
                    </div>
                    <div class="form-group text-center">
                        <a href="{{var url_code}}" type="submit" class="btn" name="cmd" style="padding: 0 !important;margin-bottom: 16px !important;padding: 15px 50px!important;border-radius: 25px;width: 100%;font-size: 11px;line-height: 35px;text-transform: uppercase;color: #403F3F;font-weight: 600;box-shadow: none;letter-spacing: 0.73px;-moz-box-shadow: none;background: #ffffff;text-decoration: none;">click here to reset password</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
