<body style="margin: 0; padding: 0; background: #ffffff; color: #ffffff">
<div style='background: #c7ae6e; padding: 30px 40px 30px 40px; font-family: "AvenirNext-Medium", "Avenir Next", Helvetica Neue, Helvetica, Arial'>
	<div style="max-height: 80px;">
		<a href="{{var home_page}}">
			<img src="{{var base_url}}/sites/template/logo@3x.png" width="118px"/>
		</a>
	</div>
	<h3 style="font-size: 24px; letter-spacing: 2px">Reset Password</h3>
	<div>
		<p style="margin: 0px 0px 24px 0px; font-size: 15px; line-height: 15px">
			Hello {{var username}},
		</p>
		<p style="font-size: 15px; letter-spacing: 1.5px">
			We received a request to reset your Second Screen password. <br/>
			Click the button below to enter your new password.
		</p>
		<a href='{{var url_code}}' style="text-decoration: none; color: #fff">
			<div style="height: 36px; line-height: 36px; font-size: 14px; width: 200px; background: #2c3037; text-align: center; border-radius: 18px">RESET PASSWORD</div>
		</a>
	</div>
	<p>
		Any questions<br/>
		<a href="mailto:{{var support_email}}" style="color: #fff; text-decoration: none">{{var support_email}}</a>
	</p>
	<p style="font-size: 18px; font-weight: 600">The 10 BLOCK Team</p>
	<p>
		<a href="{{var instagram}}" target="_blank"><img src="{{var base_url}}/sites/template/instagram@3x.png" width="40px"/></a>
		<a href="{{var twitter}}" target="_blank"><img src="{{var base_url}}/sites/template/twitter@3x.png" width="40px"/></a>
	</p>
</div>
</body>