
<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
		background: #f5f5f5;
	}
</style>
<div style='background: #f5f5f5; padding: 20px 20px 0px 20px;letter-spacing: 2px;'>
	<div style='margin: 0px auto; background: #252424; padding: 20px 20px 0px 20px; border: 1px #eeeeee solid; color: white'>
		<div align="center" style="border-bottom: 1px #f2f2f2 solid;padding-bottom: 20px;margin-bottom: 24px;margin-top: 24px;max-height: 80px;">
			<a href="#"><img src="http://secondscreentv.us/media/logo.png" style="max-height: 80px;max-width: 60%;border: none;"></a>
		</div>
		<div id='mailcontent' style="margin: 24px 20px 24px 20px">
			<p style="margin: 0px 0px 24px 0px; font: 15px Helvetica, 'Helvetica Neue', Lato, Arial, sans-serif; line-height: 15px">
				Hello {{var username}},
			</p>
			<p style="margin: 4px 0px 4px 0px; font: 15px Helvetica, 'Helvetica Neue', Lato, Arial, sans-serif; line-height: 20px">
				We received a request to reset your Second Screen password. Click the button below to enter your new password. 
			</p>
			<div style="font: 15px Helvetica, 'Helvetica Neue', Lato, Arial, sans-serif;height: 35px;padding-top: 19px;text-align: center;background-color: #c8af6f;border: none; border-radius: 4px;margin-top:  24px;">
					<a href='{{var url_code}}' style="text-decoration: none;cursor: pointer;color: #252424;border-radius: 4px;font: 15px Helvetica, 'Helvetica Neue', Lato, Arial, sans-serif;">
						reset password >
					</a>
			</div>
		</div>
		<div align="center" style="border-top: 1px #f2f2f2 solid;min-height: 50px;padding-top: 23px;">
			<a href="#" style="font: 15px Helvetica, 'Helvetica Neue', Lato, Arial, sans-serif;text-decoration: none;color: white;letter-spacing: 2px;font-weight: 100;">
				Second Screen Team
			</a>
		</div>
	</div>
</div>