<html style="margin: 0; padding: 0;">
<body style="margin: 0; padding: 0; background: #ffffff; color: #ffffff">
<div style='background: #c7ae6e; padding: 30px 40px 30px 40px; font-family: "AvenirNext-Medium", "Avenir Next", Helvetica Neue, Helvetica, Arial'>
	<div style="max-height: 80px;">
		<a href="{{var home_page}}">
			<img src="{{var base_url}}/sites/template/logo@3x.png" width="118px"/>
		</a>
	</div>
	<h3 style="font-size: 24px; letter-spacing: 2px">Welcome to 10 BLOCK!<br/>Let's get started.</h3>
	<div>
		<p style="margin: 0px 0px 24px 0px; font-size: 15px; letter-spacing: 1.5px; line-height: 20px">
			Hello {{var username}},<br/>
			I'm Estella and this is 10 BLOCK!<br/>
			Thanks for joining us.
		</p>
		<p style="font-size: 15px; letter-spacing: 1.5px">
			We started 10 BLOCK to bring great stories to you, in a way that's easy to watch on your phone.
			Great quality. Stories that make you think or laugh. We also have created a better way for you
			to discover great content, though your friends and connections, I mean that's how we truly find what
			to watch next, isn't it?
		</p>
	</div>
	<div style="margin: 0 -38px 0 -38px; background: #242323; padding: 0 30px 0 30px">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td style="padding-top: 40px; padding-bottom: 40px">
					<p style="font-size: 22px; letter-spacing: 1.5px">We're building up our library and starting with stories that and hand-chosen by our curators.</p>
					<p style="font-size: 22px; letter-spacing: 1.5px">Check out my personal faves!</p>

					<a href='https://get10block.app.link/welcome-email' style="text-decoration: none; color: #fff">
						<div style="height: 36px; line-height: 36px; font-size: 14px; width: 200px; background: #c7ae6e; text-align: center; border-radius: 18px">OPEN APP TO VIEW</div>
					</a>
				</td>
				<td style="padding: 40px 40px 0 40px; max-width: 50%;">
					<img src="{{var base_url}}/sites/template/iphone@2x.png" style="max-width: 246px"/>
				</td>
			</tr>
		</table>
	</div>
	<p>
		Let me know if you have any questions at<br/>
		<a href="mailto:estella@get10block.com" style="color: #fff; text-decoration: none">estella@get10block.com</a>
	</p>
	<p style="font-size: 18px; font-weight: 600">Estella Gabriel & The 10 BLOCK Team</p>
	<p>
		<a href="{{var instagram}}" target="_blank"><img src="{{var base_url}}/sites/template/instagram@3x.png" width="40px"/></a>
		<a href="{{var twitter}}" target="_blank"><img src="{{var base_url}}/sites/template/twitter@3x.png" width="40px"/></a>
	</p>
</div>
</body>
</html>