#sidebar-menu{

    background: #28292C;
    width: 250px;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

#sidebar-menu > ul > li > a{

    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    padding: 22px 39px!important;
    border: none!important;
    display: flex;
    justify-content: left;
}

#sidebar-menu > ul > li > a.active{

    background: rgba(225,225,225,0.19)!important;
    color: #FFFFFF!important;
    border-radius: 0px 4px 4px 0px;

}

#sidebar-menu > ul > li > a:hover{

    background: rgba(225,225,225,0.19)!important;
    color: #FFFFFF!important;
    border-radius: 0px 4px 4px 0px;

}

.side-menu{
    width: 250px!important;
    top: 59px!important;
    background: #28292C!important;
}

#sidebar-menu .subdrop{

    background: rgba(225,225,225,0.19)!important;
    color: #FFFFFF!important;
    border-radius: 0px 4px 4px 0px;
}

#sidebar-menu > ul > li > a > img{

    margin-right: 9px;

}

.navbar-default{

    height: 59px!important;
    background: #28292C!important;

}

.navbar .navbar-default{

    height: 59px!important;
    background: #28292C!important;

}

.topbar{

    height: 59px!important;
    background: #28292C!important;

}
#view-status{
    width: 142px;
    height: 27px;
    background: #C7AE6E;
    border-radius: 13.5px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: space-between;
}