
.section-content {
    margin-left: 85px;
	margin-top: 0;
}
.empty-season {
    margin-bottom: 80px;
}
.explore-mess-box {
    border: 2px solid #c7c8cb;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #403F3F;
}
.hub-faq-title span {
    border-radius: 5px;
    background-color: #505458;
    padding: 0px 5px;
    font-size: 11px;
    letter-spacing: 0.28px;
    color: #ffffff;
    clear: both;
    font-weight: 600;
}
.hub-faq-title {
    border-top: none;
    margin: 20px 0 0;
}
.tab-content>.tab-pane {
    display: block;
}
.sortable-move {
    margin-left: 5px;
}
.table > thead > tr {
    display: flex;
}
.table > thead > tr > th {
    padding-left: 0;
}
.table > thead > tr > th:first-child {
    flex-basis: 7%;
}
.table > thead > tr > th:nth-child(2) {
    /*width: 13%;*/
    flex-basis: 8%;
}
.table > thead > tr > th:nth-child(3) {
    /*width: 12%;*/
    flex-basis: 7%;
}
.table > thead > tr > th:nth-child(4) {
    /*width: 25%;*/
    flex-basis: 27%;
}
.table > thead > tr > th:nth-child(5) {
    /*width: 13%;*/
    flex-basis: 14%;
}
.table > thead > tr > th:nth-child(6) {
    /*width: 15%;*/
    flex-basis: 20%;
}
.table > thead > tr > th:nth-child(7) {
    width: 10%;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
    top: 9px;
    left: -4px;
}
.table > thead:first-child > tr:first-child > th {
    color: #9B9B9B;
    font-weight: 500;
}
.status {
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 600;
}
.title-create-season {
    font-size: 36px;
    letter-spacing: 0.9px;
    font-weight: normal;
    color: #403F3F;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEDEB;
}
.season-mess-box {
    /*top: 80px;*/
    margin-top: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    border: 1.5px solid #d6d6d6;
}
.title-header {
    color: #9B9B9B;
}
.dropdown-menu {
    left: -30px;
}
.btn-header a {
    color: #ffffff;
}

.modal-adjust{}
.modal-adjust .row-info{
    margin-top:10px;
}
.modal-adjust .row-info .lb-just{
    width: 100%;
    text-transform: uppercase;
}
.modal-adjust .row-info .val-just{
    width: 100%;
    color: #000000;
}
.modal-adjust .btn-adjust{
    text-transform: uppercase;
    color: #fafafa;
    background: #FF8000;
    padding: 4px 8px;
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
}

.modal-adjust .btn-adjust-bigger {
    font-size: 13px;
    padding: 10px 20px;
}

.modal-adjust .header-module{
    margin-top: 30px;
}

.modal-adjust .row-info .tag-location{
    background: #D8D8D8;
    border-radius: 15px;
    width: 23%;
    margin-left: 2%;
    margin-bottom: 2%;
    padding-right: 0;
}
.modal-adjust .row-info .tag-location .local-territory{
    font-size: 14px;
    font-weight: 600;
    color: #403F3F;
    margin: 8px 0 0;
}
.modal-adjust .row-info .tag-location .stat-list{
    list-style: none;
    padding: 0px;
    float: left;
    width: 80%;
}
.modal-adjust .row-info .tag-location .stat-list li{}
.modal-adjust .row-info .tag-location a.edit-point{
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.modal-adjust .row-info .tag-location a.edit-point i{
    color: #fafafa;
    padding: 4px;
    border-radius: 100px;
    background: #403F3F;
}

.modal-adjust .item-tag-location{
    background: #D8D8D8;
    width: 104%;
    border-radius: 10px 0px 0px 10px;
}

.modal-adjust .item-tag-location h5{
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 14px;
    color: #403F3F;
    letter-spacing: 1.56px;
}

.modal-adjust .item-tag-location .nevermind h6{
    background: #403F3F;
    color: #ffffff;
    margin: 4px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 12px 3px 6px;
    border-radius: 100px 0 0 100px;
    letter-spacing: 0.73px;
    font-weight: 600;
    display: inline-flex;
    cursor: pointer;
}
.modal-adjust .input-group-addon {
    background: #403F3F;
    border-radius: 0;
    border: none;
    color: #ffffff;
    min-width: 30px;
}
.modal-adjust .item-tag-location .content-detail{
    margin-right: 20px;
}
.modal-adjust .item-tag-location .content-detail .col-allocated{
    float: left;
    margin-left: 1%;
    margin-bottom: 30px;
}
.modal-adjust .item-tag-location .content-detail .col-allocated header{
    padding: 0px 0px 5px 0px;
    color: #403F3F;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.73px;
    font-size: 12px;
}
.modal-adjust .item-tag-location .content-detail .col-allocated section{}
.modal-adjust .item-tag-location .content-detail .col-allocated section ul.stat-list{
    list-style: none;
    padding: 0px;
}
.modal-adjust .item-tag-location .content-detail .col-allocated section ul.stat-list>li{}
.modal-adjust .item-tag-location .content-detail .col-allocated section input,
.modal-adjust .item-tag-location .content-detail .col-allocated section select{
    background: none;
}
.modal-adjust .item-tag-location .content-detail .col-allocated section div.form-group{
    border-bottom: 1px solid;
}
.modal-adjust .item-tag-location .content-detail .col-allocated section div.form-group .form-control{
    display: block;
    padding: 0px 6px;
}
.modal-adjust .item-tag-location .content-detail .col-allocated section .bootstrap-touchspin{
    border-bottom: 1px solid #969595;
}


.modal-adjust .iput-custom{
    border-bottom: none !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    color: #565656;
    padding: 4px 12px 4px 5px;
    height: 32px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.87px;
}
.ms-flash-data{
    font-style: italic;
}
.modal-adjust .iput-custom,
.modal-adjust .iput-custom::placeholder{
    color: #000000 !important;
}

/*Modal*/
.custom-modal.below-header {
    margin-top: 0;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 600px;
    /*height: 100%;*/
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: -webkit-fill-available;
    overflow-y: auto;
}

.modal .modal-content.modal-chat-content {
    overflow-y: hidden;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -600px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}
/*Right*/
.modal.right.fade .modal-dialog {
    right: -600px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.custom-modal .modal-content {
    overflow-y: hidden !important;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 20px 30px;
    font-size: 13px;
}

.custom-modal .modal-header {
    border: 0px;
}

.custom-modal .modal-header .modal-title {
    color: #403F3F;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 600;
}

.custom-modal .modal-header .modal-title-info {
    color: #9B9B9B;
    letter-spacing: 0.87px;
    font-size: 13px;
    font-weight: 500;
}

.profile-info-box .profile-value {
    font-size: 11px;
    color: #403F3F;
    letter-spacing: 0.73px;
    font-weight: 500;
}

.custom-modal .modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0px;
}

.custom-modal .modal-body::-webkit-scrollbar {
    width: 0;
    height: 0
}

.sidebar-inner::-webkit-scrollbar {
    width: 0;
    height: 0
}

.custom-modal .modal-footer {
    border: 0px;
    text-align: left;
}

.custom-modal .form-control, .custom-modal .form-control:hover {
    border-bottom: 1px solid #EEEDEB !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    color: #403F3F;
    padding: 4px 12px 4px 0px;
    height: 25px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    letter-spacing: 0.87px;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.custom-modal label.form-label, .custom-modal label.form-group-label {
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #9B9B9B;
    letter-spacing: 0.73px;
    font-size: 11px;
    font-weight: 500;
}

.custom-modal label.form-group-label {
    font-size: 14px;
    color: #505458;
    font-weight: 600;
}
.custom-header {
    margin: 20px 27px;
}
#create-genre-btn, #create-genre-btn:hover {
    float: right;
    margin: 15px 0;
    color: #ffffff;
    font-weight: 500;
}
.custom-tab {
    text-transform: uppercase;
    letter-spacing: 0.73px;
    font-weight: 600;
}
.custom-tab h4 {
    font-size: 14px;
    letter-spacing: 0.73px;
    font-weight: 600;
}
.custom-tab label {
    color: #9B9B9B;
    font-size: 11px;
    font-weight: 600;
}
#upload-img {
    margin-left: 60px; 
}
.uploader {
    width: 31%;
    margin-top: 3px;
    background: transparent;
    border-radius: 11px;
    position: relative;
}
.uploader button, .uploader button:hover, .uploader button:focus {
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #36404a;
    color: white;
    padding: 3px 10px;
    font-size: 11px;
    letter-spacing: 0.73px;
    font-weight: 500;
}
.imagePhoto {
    position: absolute;
    top: 0;
    opacity: 0;
}
.custom-input::placeholder {
  color: #565656;
}
.form-group .text-area-des {
    border: 1px solid #979797 !important;
    border-radius: 10px !important;
    padding: 5px;
    width: 100%;
    color: #403F3F;
    font-weight: 500;
}
.err-format, .err-size, .mess_err {
    text-transform: initial;
    font-weight: 500;
    color: #E70808;
}
.modal-title-name {
    font-weight: normal;
    font-size: 36px;
    color: #403F3F;
}
.modal-content .modal-description p {
    margin-top: 0;
    color: #4A4A4A;
    font-weight: 500;
}
/*End Modal*/