.uploader {
	width:100%;
	height:120px;
	background:#f3f3f3;
	border:2px dashed #e8e8e8;
}
.uploader:hover{
	background:#e6e6e6;
	border:2px dashed #c6c6c6;
}

#imagePhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.imagePhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

#coverPhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.btnAction{
    color: #959595;
    font-size: 30px;
    margin: 23px;
    cursor: pointer;
}
#customDropdown {
    right: 0;
    left: auto;
    min-width: 130px;
}

#example3_info {
    padding-top: 30px;
}
#example3_paginate{
    margin-top: -23px;
    margin-right: 250px;
}
#example3_length {
    float: right;
    margin-top: -40px;
    margin-right: 25px;
}