.btn-export {
    float: right;
    list-style-type: none;
    margin: 18px 5px;
}
.btn-export button {
    background-color: #36404a;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 0px 10px;
}
.btn-export button a {
    color: #FFFFFF;
}
#upload-img {
    margin-left: 60px; 
}
.uploader {
    width: 31%;
    margin-top: 10px;
    background: #36404a;
    border-radius: 11px;
}
.uploader span {
    color: #FFFFFF;
    font-size: 10px;
    padding: 11px;
    text-transform: uppercase;
}
#poster_image {
    width: 70px;
    height: 100px;
    border-radius: 4px;
}
#series_image {
    width: 160px;
    height: 140px;
}
#preview_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#carousel_image {
    width: 170px;
    height: 100px;
    border-radius: 4px;
}
#explore_image {
    width: 150px;
    height: 140px;
    border-radius: 4px;
}

.imagePhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
    margin-top: -20px;
}

#coverPhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.btnAction{
    color: #959595;
    font-size: 30px;
    margin: 23px;
    cursor: pointer;
}
#customDropdown {
    right: 0;
    left: auto;
    min-width: 100px;
}
.dropdown-menu > li > a {
    padding: 0px 10px;
}
.dropdown-menu .divider {
    margin: 3px 0;
}
#user_table hr {
    margin-top: 52px;
    margin-bottom: 0em;
    border: 0;
    border-top: 1.5px solid #dbdbdb;
}
#example3_info {
    padding-top: 20px;
}
#example3_paginate{
    margin-right: 17em;
}
#example3_length {
    float: right;
}
.search-container i {
    position: absolute;
    font-size: 1.5em;
    padding: 0.4em;
    color: #a9aca7;
}
.search-container input[type=search] {
    padding-left: 2.5em;
}
.filter-container label {
    padding: 0.6em 1em 0 0;
}
.filter-container {
    display: inline-flex;
    float: right;
    margin-bottom: 1em;
}
.card-box {
    margin-top: 10px;
}

.modal-dialog {
    margin-top: 15em;
    width: 35em;
}
.modal .modal-dialog .modal-content {
    text-align: center;
    padding: 30px 60px;
}
.modal-content .modal-description h2 {
    font-weight: bold;
}
.modal-content .modal-description p {
    margin: 25px 0;
}
.modal-content .modal-button button a {
    color: #FFFFFF;
}

/*form add film*/
.background {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}
.header-title {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
hr {
    margin: 10px 20px 30px;
    border-top: 2px solid #eee;
}
.content-form label {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: -10px;
}
.form-group input, .form-group select, .form-group input:focus, .form-group select:focus {
    border: none;
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: inherit;
}
.form-group #text-area-des {
    border: 1px solid #727272;
    border-radius: 10px;
}
.btn-update {
    background-color: #62c17f;
    color: white;
    padding: 5px 40px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 13px;
}