html, body {
	background-color: #222121;
	height: 100%;
}
.wrapper {
	width: 68%;
    margin: 2em auto;
    color: #FFFFFF;
}
.header {
    text-align: center;
    font-size: 50px;
    color: #665b42;
    font-weight: bold;
    text-transform: uppercase;
}
.content-title {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
.content-form label {
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 2em;
}
.content-form input, .content-form input:focus {
    color: #ffffff;
    border: none;
    background-color: #222121;
    border-bottom: 1px solid;
    border-bottom-color: #696969;
    font-size: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0 30px #222121 inset !important;
}

.content-form .btn, .btn:hover {
	background-color: #c8af6f;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 2em;
}
#btn-arrow {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 100%;
    display: none;
}
.content-form .error-msg {
	color: #db5a45;
}
@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
        margin-top: 4em;
    }
    .header {
        text-align: left;
        letter-spacing: -3px;
        font-size: 40px;
    }
    .content-title {
        margin: 20px 0 60px 0;
        text-align: left;
        letter-spacing: 0;
        font-size: 23px;
    }
    .content-form input {
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 767px){
    .wrapper {
        width: 95%;
    }
    .content-form button {
       display: none;
    }
    #btn-arrow {
        display: block;
        margin-top: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wrapper {
        margin-top: 10em;
    }
    .header {
        font-size: 60px;
    }
    .content-title, .content-form .btn {
        font-size: 36px;
    }
    .content-form {
        font-size: 25px;
    }
}