.login-form { 
	max-width: 360px; 
	margin: auto;
}

.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #08cea9 !important;
    border: 1px solid #08cea9 !important;
}