form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.signup-form { 
	max-width: 360px; 
	margin: auto;
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }
.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #08cea9 !important;
    border: 1px solid #08cea9 !important;
}